{{#if id}}
<nav aria-labelledby="{{id}}" class="page-navigation">
    <h2 id="{{id}}" class="sr-only">{{headline}}</h2>
    <ul class="page-navigation__list">
        {{#items}}
        <li class="page-navigation__list-item">
            <label for="page-navigation__list-item-{{@index}}" class="page-navigation__list-item-label">{{title}}</label>
            <input id="page-navigation__list-item-{{@index}}" type="radio" name="page-navigation-item" class="page-navigation__list-item-checkbox" />
            <div class="page-navigation__list-item-submenu">
                {{> subnavigation subnavigation}}
            </div>
        </li>
        {{/items}}
    </ul>
</nav>
{{/if}}