{{#if id}}
<nav aria-labelledby="{{id}}" class="page-navigation">
    <h2 id="{{id}}" class="sr-only">{{headline}}</h2>
    <ul class="page-navigation__list">
        {{#items}}
        <li>
            <label for="page-navigation__list-item-{{@index}}">{{title}}</label>
            <input id="page-navigation__list-item-{{@index}}" type="radio" name="page-navigation-item" />
            <div>
                {{> subnavigation subnavigation}}
            </div>
        </li>
        {{/items}}
    </ul>
</nav>
{{/if}}